[submodule "src/ouster-ros"]
	path = src/ouster-ros
	url = https://github.com/ouster-lidar/ouster-ros.git
	branch = ros2
[submodule "src/sbg_ros2_driver"]
	path = src/sbg_ros2_driver
	url = https://github.com/SBG-Systems/sbg_ros2_driver.git
	branch = master
[submodule "src/motor-controller"]
	path = src/motor-controller
	url = https://github.com/SEG4910-Capstone/motor-controller.git
[submodule "src/xbox_remote_control"]
	path = src/xbox_remote_control
	url = https://github.com/SEG4910-Capstone/xbox_remote_control.git
[submodule "src/gz_ros2_control"]
	path = src/gz_ros2_control
	url = https://github.com/ros-controls/gz_ros2_control.git
	branch = humble
[submodule "src/ntrip_client"]
	path = src/ntrip_client
	url = https://github.com/LORD-MicroStrain/ntrip_client.git
