<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
  <joint name="gps_joint" type="fixed">
    <parent link="chassis"/>
    <child link="gps_link"/>
    <origin xyz="-0.375 0.345 0.556" rpy="0 0.18 0"/>
  </joint>
  <link name="gps_link">
    <visual>
      <geometry>
          <box size="0.010 0.01 0.01"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>

  <!-- <gazebo> -->
  <xacro:if value="$(arg use_sim_time)">
    <gazebo>
        <plugin filename="ignition-gazebo-navsat-system" name="ignition::gazebo::systems::NavSat"/>
    </gazebo>
    <gazebo reference="gps_link">
        <material>Gazebo/Black</material>
        <sensor name="navsat" type="navsat">
              <always_on>1</always_on>
              <update_rate>25.0</update_rate>
              <topic>gps/fix</topic>
              <ignition_frame_id>gps_link</ignition_frame_id>
        </sensor>
    </gazebo>
  </xacro:if>
</robot>