<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <joint name="imu_joint" type="fixed">
        <parent link="chassis"/>
        <child link="imu_link"/>
        <origin xyz="0.675 0 1.0" rpy="0 0.0 0"/>
    </joint>

    <link name="imu_link">
        <visual>
            <geometry>
                <box size="0.046 0.045 0.024"/>
            </geometry>
            <material name="black"/>
        </visual>
        <xacro:inertial_box mass="0.029" x="0.046" y="0.045" z="0.024">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>
    
    <!-- Only enable gazebo simulation if in simulation mode -->
    <xacro:if value="$(arg use_sim_time)">
        <gazebo>
            <plugin filename="libignition-gazebo-imu-system.so" name="ignition::gazebo::systems::Imu"/>
        </gazebo>
        <gazebo reference="imu_link">
            <sensor name="imu" type="imu">
                    <always_on>1</always_on>
                    <update_rate>25</update_rate> <!-- To simulate orientation coming from dual GNSS -->
                    <visualize>false</visualize>
                    <topic>imu</topic>
                    <ignition_frame_id>imu_link</ignition_frame_id>
            </sensor>
        </gazebo>
    </xacro:if>
</robot>