<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <xacro:arg name="use_sim_time" default="true"/>
    
    <xacro:include filename="$(find snowplow)/description/robot_core.xacro" />

    <xacro:include filename="$(find snowplow)/description/ros2_control_ign.xacro" />

    <xacro:include filename="$(find snowplow)/description/lidar_ign.xacro" />
    <xacro:include filename="$(find snowplow)/description/imu_ign.xacro" />
    <xacro:include filename="$(find snowplow)/description/gps_ign.xacro"/>

    <xacro:include filename="$(find snowplow)/description/plowblade.xacro"/>
    <xacro:include filename="$(find snowplow)/description/battery.xacro"/> 

    <xacro:include filename="$(find snowplow)/description/face.xacro" />
    
</robot>