<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:unless value="$(arg use_sim_time)">
        <ros2_control name="RealRobot" type="system">
            <hardware>
                <plugin>motor_controller/DiffBotSystemHardware</plugin>
                <param name="left_wheel_name">left_wheel_joint</param>
                <param name="right_wheel_name">right_wheel_joint</param>
                <param name="loop_rate">30</param>
                <param name="device">/dev/ttyUSB0</param>
                <param name="baud_rate">115200</param>
                <param name="timeout">1000</param>
                <!-- Check the enc counter parameter with the electrical team -->
                <param name="enc_counts_per_rev">3000</param>
            </hardware>
            <joint name="left_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-10</param>
                    <param name="max">10</param>
                </command_interface>
                <state_interface name="velocity"/>
                <state_interface name="position"/>
            </joint>
            <joint name="right_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-10</param>
                    <param name="max">10</param>
                </command_interface>
                <state_interface name="velocity"/>
                <state_interface name="position"/>
            </joint>
        </ros2_control>
    </xacro:unless>

    <xacro:if value="$(arg use_sim_time)">
        <ros2_control name="IgnitionSystem" type="system">
            <hardware>
                <plugin>ign_ros2_control/IgnitionSystem</plugin>
            </hardware>
            <joint name="left_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-2</param>
                    <param name="max">2</param>
                </command_interface>
                <state_interface name="velocity"/>
                <state_interface name="position"/>
            </joint>
            <joint name="right_wheel_joint">
                <command_interface name="velocity">
                    <param name="min">-2</param>
                    <param name="max">2</param>
                </command_interface>
                <state_interface name="velocity"/>
                <state_interface name="position"/>
            </joint>
        </ros2_control>
    </xacro:if>

    <gazebo>
        <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
            <parameters>$(find snowplow)/config/my_controllers.yaml</parameters>
            <!-- <controller_manager_name>controller_manager</controller_manager_name> -->
        </plugin>
        <plugin name="motor_controller" filename="libmotor_controller.so">
            <parameters>$(find snowplow)/config/my_controllers.yaml</parameters>
        </plugin>
    </gazebo>

</robot>